%form.contents__form__new-message(enctype="multipart/form-data" accept-charset="UTF-8" method="post")
  %input(name="utf8" type="hidden")
  %input(type="hidden")
  %div.contents__form__new-message__box
    %input.contents__form__new-message__box__text(placeholder="type a message" type="text" id="message_content")
    %label.contents__form__new-message__box__image
      %i.fa.fa-image
      %input.contents__form__new-message__box__image__file(type="file" id="message_image")
  %input.contents__form__new-message__submit-btn(type="submit" value="Send")
