%div.menu__header__box
  %p.menu__header__box__name
    = current_user.name
  %ul.menu__header__box__menu-button
    %li.menu__header__box__menu-button__new-group
      = link_to do
        %i.fa.fa-edit
    %li.menu__header__box__menu-button__setting
      = link_to edit_user_path(current_user) do
        %i.fa.fa-cog
