%div.menu__header__box
  %p.menu__header__box__name
    test-user
  %ul.menu__header__box__menu-button
    %li.menu__header__box__menu-button__new-group
      %a(href="")
        %i.fa.fa-edit
    %li.menu__header__box__menu-button__setting
      %a(href="")
        %i.fa.fa-cog
