%html
  %body

    -# %div.announce-box
    -#   グループを作成しました

    %div.wrapper

      =render partial: 'shared/side_bar';

      %div.contents
        %div.contents__header
          %div.contents__header__left-box
            %h2.contents__header__left-box__current-group
              test-group
            %ul.contents__header__left-box__member-list
              Member：
              %li.contents__header__left-box__member-list__member
                test-user
          %div.contents__header__edit-btn
            = link_to edit_group_path(current_user) do
              %p.contents__header__edit-btn__letter Edit
        %div.contents__chat
          %div.contents__chat__box
            %div.contents__chat__box__top-box
              %p.contents__chat__box__top-box__name
                test-user
              %p.contents__chat__box__top-box__time
                2019/10/03(Thu) 10:36:11
            %p.contents__chat__box__message
              おはよう
          %div.contents__chat__box
            %div.contents__chat__box__top-box
              %p.contents__chat__box__top-box__name
                test-user
              %p.contents__chat__box__top-box__time
                2019/10/03(Thu) 10:45:00
            %p.contents__chat__box__message
              こんにちは
        %div.contents__form
          =render partial: 'form'

