$LightBlueColor: #38aef0;
$WhiteColor: #FFFFFF;
$LetterDarkColor: #434a54;
$LetterThinColor: #999999;
$SideBlueDarkColor: #253141;
$SideBlueLightColor: #2f3e51;
$LightGrayColor: #999;
$BlackColor: #434a54;
$AlertOrangeColor: #F35500;

