.notification {
  .notice {
    background-color: $LightBlueColor;
    color: $WhiteColor;
    text-align: center;
  }

  .alert {
    background-color: $AlertOrangeColor;
    color: $WhiteColor;
    text-align: center;
  }
}