html, body {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box
}

.announce-box {
  color: white;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
  background-color: $LightBlueColor;
}

.wrapper {
  @include flex();

  .menu {
    color: $WhiteColor;
    float: left;
    width: 300px;
    &__header {
      @include flex();
      background-color: #253141;
      height: 100px;    
      line-height: 100px; 
      padding: 0 20px;
      &__box {
        @include flex();
        font-weight: bold;
        justify-content: space-between;
        width: 100%;
        p {
          display: inline-block;
          font-size: 16px;
        }
        ul {
          display: inline-block;
          li {
            display: inline-block;       
              .fa {               
                color: $WhiteColor;
                font-size: 16px;
              }
          }
        }
      }
    }
    &__list {
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      padding: 20px 20px 0;
      overflow: scroll;
      &__group {
        margin-bottom: 40px;
        &__group-name {
          font-size: 15px;
          margin-bottom: 5px;
          color: $WhiteColor
        }
        &__message {
          font-size: 11px;
          color: $WhiteColor
        }
        a {
          text-decoration: none;
        }
      }
    }   
  }


  .contents {
    float: left;
    width: calc(100vw - 300px);
    &__header {
      @include flex();
      height: 100px;
      padding: 0 40px;
      justify-content: space-between;
      border-bottom: solid 1px #eeeeee;
      &__left-box {
        margin-top: 35px;
        &__current-group {
          color: #333333;
          font-size: 20px;
          margin-bottom: 15px;
        }
        &__member-list {
          @include flex();
          color: $LetterThinColor;
          font-size: 12px;
          &__member {
            display: list-item;
            text-align: -webkit-match-parent;
          }        
        }
      }
      &__edit-btn {
        color: $LightBlueColor;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 28px;
        border: solid 1px $LightBlueColor;
        position: absolute;
        right: 40px;
        &__letter {
          color: $LightBlueColor;       
        }
        a {
          text-decoration: none;
        }
      }
    }

    &__chat {
      height: calc(100vh - 190px);
      padding: 46px 40px;
      background-color: #fafafa;
      overflow: auto;
      &__box {
        padding-bottom: 40px;
        &__top-box {
          @include flex();
          margin-bottom: 10px;
          &__name {
            color: $LetterDarkColor;
            font-size: 16px;
            font-weight: bold;
          }
          &__time {
            color: $LetterThinColor;
            font-size: 12px;
            margin-left: 10px;
          }
        }
        &__message {
          color: $LetterDarkColor;
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    }

    &__form {
      height: 90px;
      padding: 20px 40px;
      background-color: #ddd;
      &__message {
        border: none;
        float: left;
        height: 50px;
        width: calc(100% - 150px);
        padding-left: 10px;
      }
      &__mask {
        background-color: $WhiteColor;
        float: left;
        height: 50px;
        padding-right: 10px;
        &__image {
          font-size: 20px;
          line-height: 50px;            
        }
        .hidden {
          display: none;
        }
      }      
      &__submit {
        background-color: $LightBlueColor;
        border: none;
        color: $WhiteColor;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
  }
}







